body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

h1 {
    font-size: 36px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.privacy-section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.return-link {
    display: inline-block;
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.return-link:hover {
    background-color: #ff4b3a;
}

.faq-section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 16px;
    color: #555;
}
/* Styling for the "Return to Login Page" button */
.return-button {
    text-align: center;
}

.return-link {
    display: inline-block;
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
}

.return-link:hover {
    background-color: #ff4b3a;
    color: #fff;
}

.social-media {
    margin-top: 20px;
    font-size: 0; 

}

.social-icon {
    margin: 0 5px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease; 
}

.social-icon img {
    width: 30px;
    height: 30px;
}

.social-icon:hover {
    transform: scale(1.2); 
}

